@page "{id:int}"
@model SimpleBlog.Pages.PostModel
@{
}

<!-- Page Content -->
<div class="container">

	<div class="row">

		<!-- Post Content Column -->
		<div class="col-lg-8">

			<!-- Title -->
			<h1 class="mt-4">@Model.Post.Title</h1>


			<hr>

			<!-- Date/Time -->
			<p>Posted on @Model.Post.Posted.</p>

			<hr>

			@if (Model.Post.CoverImage != null)
			{
				<!-- Preview Image -->
				<img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
			}

			<hr>

			<!-- Post Content -->
			<div>
				@Model.Post.Content
			</div>
			<hr>


		</div>

		@await Html.PartialAsync("_Sidebar")

	</div>
	<!-- /.row -->

</div>
<!-- /.container -->